- var mainMenuActiveIndex = -1;
- var brandName = locals.data.title;
- var pageTitle = brandName;
- var letters = ['α','β','γ','δ','ε','ζ','η','θ','ι','κ','λ','μ','ν','ξ','ο','π','ρ','σ','τ','υ','φ','χ','ψ','ω']
- var IMAGE_PATH = "assets/images/";
doctype html
html
  head
    include partials/header
    script(type='text/javascript').
      var JSON_FILE="assets/json/el.json";
  body
    .quiz
      header
        .container
          .col-md-12
            .score
              span.score-name #{locals.data["score-label"]}&nbsp;&nbsp;
              span.score-value 0 / #{locals.data.questions.length*4}
      .container
        each question,index in locals.data.questions
          .question-container(class=index==6?"active":"")
            .left-panel
              h4.question-heading
                span.question-name #{locals.data["question-label"]}&nbsp;
                span.question-value ( #{index+1} / #{locals.data.questions.length} )
              .question=question.label
              ul.answers
                each answer,index in question.answers
                  li
                    if answer.img
                      - var img=IMAGE_PATH+answer.img;
                      a(data-content="<img src=\"#{img}\">" style="background-image: url('#{img}')")=letters[index].toUpperCase()+". "+answer.label
                    else
                      a(href="javascript:")=letters[index].toUpperCase()+". "+answer.label
            .right-panel
              .image-container
                img(src=IMAGE_PATH+question.image)

    script(type="text/javascript", src="assets/js/main.js" async)
