mixin modal (options)
  - var options = options || {};
  - var title = options.title || 'Modal title';
  - var body = options.body || '<p>One fine body…</p>';
  - var closeButtonLabel = options.closeButtonLabel || 'Close';
  - var saveButtonLabel = options.saveButtonLabel || 'Save changes';
  - var showFooter = options.showFooter==null ? true : options.showFooter;
  - var showTitle = options.showTitle==null ? true : options.showTitle;

  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label=closeButtonLabel)
            span(aria-hidden='true') ×
          if showTitle
            h4.modal-title=title
        .modal-body!=body
        if showFooter
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal')=closeButtonLabel
            button.btn.btn-primary(type='button')=saveButtonLabel
